---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
{{date | readableDate}}
<div class='tagslist'>
    {% for tag in tags %}
        <span class='tag'>{{tag}}</span>
        {% endfor%}
    </div>

    {# {{description}} #}

    {{ content | safe }}

    <p>
        <a href="{{ '/' | url }}">← Home</a>
    </p>